.PinsListItem {
  border-radius: 5px;
  margin: 7px;
  max-height: 350px;
}

.PinsListItem:hover {
  cursor: zoom-in;
}

.PinListContainer {
  position: relative;
  display: flex;
  width: 216px;
  margin: 7px;
  background: (255, 255, 255, 0.1);
  align-items: center;
}

.PinsListItem img {
  width: 100%;
  border-radius: 5px;
  margin: 7px;
  min-height: 350px;
  object-fit: cover;
}

.pinCover {
  background: url(../assets/TranspFills/images/transpBlack10.png);
  width: 100%;
  border-radius: 5px;
  margin: 7px;
  min-height: 100%;
  top: 0;
  position: absolute;
  left: 0;
}

.hidePinCover {
  display: none;
}

.pinCover:hover {
  cursor: zoom-in;
}

.pinCover .show-pinCreate-modal {
  width: 80px;
  height: 40px;
  border-radius: 5px;
  color: white;
  font-size: 15px;
  font-weight: bold;
  background-color: #e30b2b;
  margin-top: 15px;
  right: 15px;
  position: absolute;
  border: 1px solid #e30b2b;
}
.pinCover .show-pinCreate-modal:hover {
  background: #bb0f23;
  border: 1px solid #bb0f23;

  cursor: pointer;
}
.pinCover .pink-link {
  color: white;
  text-decoration: none;
  /* width: 80%; */
  overflow: hidden;
  background: url(../assets/TranspFills/images/transpBlack50.png);
  display: block;
  position: absolute;
  bottom: 15px;
  left: 15px;
  padding: 10px;
  max-width: 61%;
  white-space: nowrap;
  text-overflow: ellipsis;
  border-radius: 30px;
}

.pinCover .pink-link .fa-arrow-up {
  padding-right: 5px;
  transform: rotate(45deg);
}

.pinCover .pink-link:hover {
  background: url(../assets/TranspFills/images/transpBlack75.png);
}
